<div class="container mt-5" [formGroup]="todoForm">
  <div class="row">
    <div class="offset-md-3 col-md-6 p-2">
      <input
        type="text"
        class="form-control"
        placeholder="Title"
        formControlName="title"
      />
    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6 p-2">
      <input
        type="text"
        class="form-control"
        placeholder="Description"
        formControlName="description"
      />
    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6 p-2">
      <input
        type="date"
        class="form-control"
        placeholder="End Date"
        formControlName="endDate"
      />
    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6 p-2">
      <select class="form-control" formControlName="status">
        <option value="To Do">To do</option>
        <option value="In-Progress">In-Progress</option>
        <option value="Completed">Completed</option>
        <option value="Incompleted">Incompleted</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6 p-2">
      <button
        (click)="Update()"
        class="btn btn-success"
        [disabled]="todoForm.invalid"
      >
        Update
      </button>
      <button (click)="onNoClick()" class="btn btn-danger ml-2">Cancel</button>
    </div>
  </div>
</div>
